<footer class="site-footer h-card">
<data class="u-url" href="/"></data>

<div class="wrapper">

<h2 class="footer-heading">tefdara</h2>

<div class="footer-col-wrapper">
  <div class="footer-col footer-col-1">
    <ul class="contact-list">
      <li class="p-name"></li><li><a class="u-email" href="mailto:detf@pm.me">dtef@pm.me</a></li></ul>
  </div>

  <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://vimeo.com/dtef"><svg class="svg-icon"><use xlink:href="/assets/vimeo.svg"></use>{% include vimeo.svg %}</svg> <span class="username">Vimeo</span></a></li><li><a href="https://www.youtube.com/channel/UCnUM9PNVwzsQwQXiZ_Sgo8w"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#youtube"></use></svg> <span class="username">YouTube</span></a></li><li><a href="https://github.com/tefdara"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">GitHub</span></a></li>  </ul>

  <!-- Twitter Icon -->  
  <!--<li><a href="https://twitter.com/tefdara"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">Twitter</span></a></li>-->

</div>

  <div class="footer-col footer-col-3">
    <p></p>
  </div>
</div>

</div>

</footer>
