{% include worktemp.html %}


      <main class="page-content" aria-label="Content">

        <div class = "text" >
         <p>Dara is an audiovisual artist from Iran, currently based in Edinburgh. His work is focused on 3D realtime audiovisual systems. He creates nonlinear game-like compositions that explore themes such as chaos, silence, dissonance, altered states, Human Computer Interaction and other intersections of culture and technology. He aims to blur the boundaries between contemporary audiovisual art and video games by creating game-like performance systems. In addition, his works take the form of installation pieces and standalone games/applications. He is currently a PhD candidate at Edinburgh University, working on procedural audiovisual systems that examine the cultural implications of adaptive compositions.</p>
         <p>Some of his recent work were shown at The Tablbot Rice Gallery (Edinburgh), Sonorities festival (Belfast), Iklectik gallery (London), Paradigm festival (Edinburgh), The Fruitmarket Gallery (Edinburgh) Sound Thought festival (Glasgow).</p>


        </div>

          </main><footer class="site-footer h-card">
        <data class="u-url" href="/"></data>

        {% include footer.html %}
