
{% include worktemp.html %}

<div class = "text" >
 <p> ‘AntiProcess:Bonding’ is an audio-visual performance that is part of a game currently under development.
   Centring on a fictional virtual world, it aims to create a model that abstracts reality.
   It is a schizophrenic simulation of an ambiguous and chaotic place that adapts to the player’s actions.
   The performance presents the ‘initial state’ of the work where the forms are pure, still somewhat orderly, on the cusp of something more entropic.
   <p>

     <p><p>
     <p>Specs:</p>
     <p> - Realtime audiovisual composition</p>
     <p> - Built in the Unity engine </p>
     <p> - Procedurally generated composition </p>
     <p> - Shader based GPU rendered graphics</p>
     <p>Footage from exhibition at the Talbot Rice Gallery, May-June 2018</p>
</div>

<div class="post-content">
{% include vimeoPlayer.html id=274136384 %}
</div>

<body>


<!-- Photo Grid -->
<div class="row">
  <div class="column">
    <div class="container">
    <img id="myImg" src="/assets/APBonding_ScreenShot.jpg" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/APBonding_03.jpg" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/APBonding_04.jpg" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/APBonding_03_0809.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/APBonding_01.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/APBonding_03_0848.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/APBonding_02.jpg" style="width:100%" onclick="onClick(this)">





    {% include modalImagehtml.html %}


  </div>
  </div>

  {% include modalimagescript.html %}



  </div>
</div>

</body>




{% include footer.html %}
