
{% include worktemp.html %}

<div class = "text" >
 <p>Title : AntiProcess:Bonding</p>
 <p>Specs:</p>
 <p> - Realtime audiovisual composition</p>
 <p> - Built in the Unity engine </p>
 <p> - Procedurally generated composition </p>
 <p> - Shader based GPU rendered graphics</p>
 <p>Footage from exhibition at the Talbot Rice Gallery, May-June 2018</p>

</div>

<div class="post-content">
{% include vimeoPlayer.html id=274136384 %}
</div>

<body>


<!-- Photo Grid -->
<div class="row">
  <div class="column">
    <img src="/assets/APBonding_01.png" style="width:100%">
    <img src="/assets/APBonding_02.jpg" style="width:100%">

  </div>



  </div>
</div>

</body>




{% include footer.html %}
