
{% include worktemp.html %}

<div class = "text" >
 <p> Harmlight
   <p>
</div>


<footer class="site-footer h-card">
<data class="u-url" href="/"></data>

<div class="post-content">
{% include vimeoPlayer.html id=137279970 %}
</div>

<body>


<!-- Photo Grid -->
<div class="row">
  <div class="column">
    <div class="container">
    <img id="myImg" src="/assets/HarmLight_ScreenShot_02.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/HarmLight_ScreenShot_08.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/HarmLight_ScreenShot_04.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/HarmLight_ScreenShot_09.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/HarmLight_ScreenShot_06.png" style="width:100%" onclick="onClick(this)">
  {% include modalImagehtml.html %}


  </div>
  </div>

  {% include modalimagescript.html %}



  </div>
</div>

</body>




{% include footer.html %}
