
{% include worktemp.html %}

<body>
<div class = "text" >
 <p> Iners is a real-time audiovisual performance that takes place in the virtual world  of 'Obfuscated  Konkat'. The piece is based on a small subset of this procedurally generated world and the experience revolves around the exploration of abstract audiovisual spaces through a heavily musical form. The performer must gather and craft audiovisual entities using a game-like system that allows the concatenation of musical units in specific configurations. Then comes the challenge of playing these audiovisual units against an adaptive system, in a somewhat rhythmical way.
 <p>
    <p>
  </p>

  <footer class="site-footer h-card">
<data class="u-url" href="/"></data>

<div class="post-content">
{% include vimeoPlayer.html id=510353576 %}
{% include vimeoPlayer.html id=510352096 %}




<!-- Photo Grid -->
{% include modalImagehtml.html %}
<div class="row">
  <div class="column">
    <div class="container">
    <img id="myImg" src="/assets/Iners_01.jpg" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/Iners_02.jpg" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/Iners_03.jpg" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/Iners_04.jpg" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/Iners_05.jpg" style="width:100%" onclick="onClick(this)">


  </div>
  </div>


</div>
</body>





{% include footer.html %}
