
{% include worktemp.html %}

<div class = "text" >
  <p>Lineament (2016)</p>
  <p>A genrative VR composition</p>
</div>

<footer class="site-footer h-card">
<data class="u-url" href="/"></data>


<div class="post-content">
{% include vimeoPlayer.html id=225668068 %}
</div>

<body>


<!-- Photo Grid -->
<div class="row">
  <div class="column">
    <div class="container">
      <img id="myImg" src="/assets/Lineament_03.jpg" style="width:100%" onclick="onClick(this)">
      <img id="myImg" src="/assets/lineament_02.png" style="width:100%" onclick="onClick(this)">





    {% include modalImagehtml.html %}


  </div>
  </div>

  {% include modalimagescript.html %}



  </div>
</div>

</body>




{% include footer.html %}
