
{% include worktemp.html %}

<div class = "text" >
 <p>Lineament (2016)</p>
 <p>A genrative VR composition</p>

</div>

<div class="post-content">
{% include vimeoPlayer.html id=225668068 %}
</div>

<body>


<!-- Photo Grid -->
<div class="row">
  <div class="column">

    <img id="myImg" src="/assets/Lineament_03.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/lineament_02.png" style="width:100%" onclick="onClick(this)">

  </div>

  </div>

    {% include modalImagehtml.html %}
    {% include modalimagescript.html %}





</body>




{% include footer.html %}
