
{% include worktemp.html %}

<div class = "text" >
  <p>Lno1 (2017)</p>
  Multidisplay audiovisual performance :
  <p></p>
  <p> - 4 channels of audio / 3 displays</p>
  <p> - Built in the Unity engine </p>
  <p> - Procedurally generated composition </p>
  <p> - Synchronised multiple machines over Unet</p>
  <p>Footage from performance at Edinburgh University, Jan 2018</p>
</div>

<footer class="site-footer h-card">
<data class="u-url" href="/"></data>


<div class="post-content">
{% include vimeoPlayer.html id=251678564 %}
</div>

<body>


<!-- Photo Grid -->
<div class="row">
  <div class="column">
    <div class="container">
      <img id="myImg" src="/assets/Lno1_01.png" style="width:100%" onclick="onClick(this)">
      <img id="myImg" src="/assets/Lno1_02.png" style="width:100%" onclick="onClick(this)">
      <img id="myImg" src="/assets/Lno1-Part_02.png" style="width:100%" onclick="onClick(this)">
      <img id="myImg" src="/assets/Lno1_end_02.1.png" style="width:100%" onclick="onClick(this)">
      <img id="myImg" src="/assets/Lno1_end.png" style="width:100%" onclick="onClick(this)">




    {% include modalImagehtml.html %}


  </div>
  </div>

  {% include modalimagescript.html %}



  </div>
</div>

</body>




{% include footer.html %}
