
{% include worktemp.html %}

<div class = "text" >
 <p>Title : Lno1</p>
 <p>Specs:</p>
 <p> - 4 channels of audio / 3 displays</p>
 <p> - Built in the Unity engine </p>
 <p> - Procedurally generated composition </p>
 <p> - Synchronised over Unet</p>
 <p>Footage from performance at Edinburgh University, Jan 2018</p>

</div>

<div class="post-content">
{% include vimeoPlayer.html id=251678564 %}
</div>

<body>


<!-- Photo Grid -->
<div class="row">
  <div class="column">

    <img src="/assets/Lno1_end_02.1.png" style="width:100%">
    <img src="/assets/Lno1_end.png" style="width:100%">

  </div>
  <div class="column">
    <img src="/assets/Lno1_Slice2.png" style="width:100%">
    <img src="/assets/MX11_02_V2audio_part3.png" style="width:100%">

  </div>


  </div>
</div>

</body>




{% include footer.html %}
