
{% include worktemp.html %}

<div class = "text" >
 <p>Title : Lno1</p>
 <p>Specs:</p>
 <p> - 4 channels of audio / 3 displays</p>
 <p> - Built in the Unity engine </p>
 <p> - Procedurally generated composition </p>
 <p> - Synchronised over Unet</p>
 <p>Footage from performance at Edinburgh University, Jan 2018</p>

</div>

<div class="post-content">
{% include vimeoPlayer.html id=251678564 %}
</div>

<body>


<!-- Photo Grid -->
<div class="row">
  <div class="column">




  <div class="column">
    <img id="myImg" src="/assets/Lno1_01.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/Lno1_02.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/Lno1-Part_02.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/Lno1_end_02.1.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/Lno1_end.png" style="width:100%" onclick="onClick(this)">

  </div>

    {% include modalImagehtml.html %}
    {% include modalimagescript.html %}



  </div>
</div>

</body>




{% include footer.html %}
