
{% include worktemp.html %}

<div class = "text" >
 <p> MX11
   <p>

     <p>Generative composition made in Max<p>

</div>

<div class="post-content">
{% include vimeoPlayer.html id=137264779 %}
</div>

<body>


<!-- Photo Grid -->
<div class="row">
  <div class="column">
    <div class="container">
    <img id="myImg" src="/assets/MX11_ScreenShot_02.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/MX11_ScreenShot_05.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/MX11_ScreenShot_03.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/MX11_ScreenShot_01.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/MX11_ScreenShot_04.png" style="width:100%" onclick="onClick(this)">
    {% include modalImagehtml.html %}


  </div>
  </div>

  {% include modalimagescript.html %}



  </div>
</div>

</body>




{% include footer.html %}
