
{% include worktemp.html %}

<div class = "text" >
 <p> MX9
   <p>
     <p> Custom audiovisual sequencer exerpts </p>

</div>

<div class="post-content">
{% include vimeoPlayer.html id=137234570 %}
</div>

<body>


<!-- Photo Grid -->
<div class="row">
  <div class="column">
    <div class="container">
    <img id="myImg" src="/assets/MX8_middle_.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/MX8_V4_part_end1.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/MX8_V4_part_end3_02.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/MX8_V4_part4.1.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/MX8_V4_end_processign.png" style="width:100%" onclick="onClick(this)">
    {% include modalimagehtml.html %}


  </div>
  </div>

  {% include modalimagescript.html %}



  </div>
</div>

</body>




{% include footer.html %}
