
{% include worktemp.html %}

<div class = "text" >
 <p> This-Name
   <p>
     <p> Custom audiovisual sequencer exerpts </p>

</div>

<div class="post-content">
{% include vimeoPlayer.html id=155870380 %}
</div>

<body>


<!-- Photo Grid -->
<div class="row">
  <div class="column">
    <div class="container">
    <img id="myImg" src="/assets/This_Name_part2_07.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/ThisName_01.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/This_Name_part1_01.1.2.png" style="width:100%" onclick="onClick(this)">
    <img id="myImg" src="/assets/This_Name_end_processed_1.1.png" style="width:100%" onclick="onClick(this)">
  {% include modalImagehtml.html %}


  </div>
  </div>

  {% include modalimagescript.html %}



  </div>
</div>

</body>




{% include footer.html %}
